/* ViewportControls.css */

.viewport-controls {
    margin-top: 20px;
}

.viewport-controls h3 {
    margin-bottom: 10px;
}

.viewport-controls label {
    margin-right: 5px;
}

.viewport-controls input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ecebeb;
    transition: border-color 0.3s;
}

body.dark-mode .viewport-controls input[type="number"] {
    background-color: #6e6e6e;
    color: #f4f4f9;
    border-color: #555;
}
